DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=anime_streaming
GDRIVE_CLIENT_EMAIL=drive-backup-service@gserviceaccount.com
GDRIVE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n-----END PRIVATE KEY-----\n"
GDRIVE_FOLDER_ID=GDRIVE_FOLDER_ID
